<nav class="navbar">
    <div class="navbar_container">
        <div class="navbar_left">
            <a href="/index.html" id="navbar-logo">ThePage2</a>
        </div>

        <div class="navbar_right">
            <div class="right_nav_item">
                <a href="/tags/" class="tags">Tags</a>
            </div>
            <div class="right_nav_item">
                <a href="/posts/">Posts</a>
            </div>
            <div class="right_nav_item" id="darkmode-toggle">
                <i class="fa-solid fa-circle-half-stroke darkmode-btn"></i>
            </div>
        </div>
    </div>
</nav>